body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #3498db;
}

form {
    margin: 20px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin: 20px;
    font-weight: bold;
    color: #27ae60;
}
